{%load static%}
<header>
    <img src="{%static 'main/img/logoa.png'%}" alt="logoa">
    <nav>
        <ul class="nav__links">
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Sale</a></li>
        </ul>
        
    </nav>
    <nav>
        <ul class="nav__account-auth">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign-up</a></li>
            
        </ul>
    </nav>
    
    <div class="header__btn-links">
        <div class="btn-link flex-row">
            <i class="fa-solid fa-user"></i>
            <a href="" class="btn-link">Sign in</a>
        </div>
        <div class="btn-link flex-row">
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="" class="btn-link">My Cart</a>
        </div>

    </div>
    

</header>